<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
 <welcome-file-list>  
   <welcome-file>index.jsp</welcome-file>  
  </welcome-file-list>  
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>com.nixsolutions.filters.EncodingFilter</filter-class>
  	<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>

 <filter>
<description>
</description>
<display-name>SecurityFilter</display-name>
<filter-name>SecurityFilter</filter-name>
<filter-class>com.nixsolutions.filters.SecurityFilter</filter-class>
<init-param>
<param-name>admin</param-name>
<param-value> /jsp/admin/admin.jsp /jsp/admin/user_profile.jsp /create_controller /edit_controller /delete_controller /update_controller
/edit_controller /jsp/admin/status_page.jsp /UpdateUserListServlet
</param-value>
</init-param>
<init-param>
<param-name>user</param-name>
<param-value> /jsp/user/user.jsp
</param-value>
</init-param>

<init-param>
<param-name>out-of-control</param-name>
<param-value> /index.jsp /jsp/error_page.jsp /login_controller /logout_controller /redirect_controller
</param-value>
</init-param>

</filter>
 <filter-mapping>
  	<filter-name>SecurityFilter</filter-name>
  	<url-pattern>/*</url-pattern><!-- *.jsp -->
  </filter-mapping>
  <filter>
  	<filter-name>AdminResource</filter-name>
  	<filter-class>com.nixsolutions.filters.AdminResource</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AdminResource</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
  	<listener-class>com.nixsolutions.listeners.RequestListener</listener-class>
  </listener>
   <listener>
  	<listener-class>com.nixsolutions.listeners.SessionListener</listener-class>
  </listener>
     <listener>
  	<listener-class>com.nixsolutions.listeners.ContextListener</listener-class>
  </listener>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.nixsolutions.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>com.nixsolutions.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CreateServlet</display-name>
  	<servlet-name>CreateServlet</servlet-name>
  	<servlet-class>com.nixsolutions.controller.CreateServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteServlet</display-name>
  	<servlet-name>DeleteServlet</servlet-name>
  	<servlet-class>com.nixsolutions.controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateUserServlet</display-name>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<servlet-class>com.nixsolutions.controller.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EditUserServlet</display-name>
  	<servlet-name>EditUserServlet</servlet-name>
  	<servlet-class>com.nixsolutions.controller.EditUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateUserListServlet</display-name>
  	<servlet-name>UpdateUserListServlet</servlet-name>
  	<servlet-class>com.nixsolutions.controller.UpdateUserListServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RedirectController</display-name>
  	<servlet-name>RedirectController</servlet-name>
  	<servlet-class>com.nixsolutions.controller.redirect.RedirectController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/logout_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateServlet</servlet-name>
  	<url-pattern>/create_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/delete_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<url-pattern>/update_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditUserServlet</servlet-name>
  	<url-pattern>/edit_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserListServlet</servlet-name>
  	<url-pattern>/UpdateUserListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RedirectController</servlet-name>
  	<url-pattern>/redirect_controller</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
</session-config>
  
	<error-page>
		<exception-type>com.nixsolutions.exception.ApplicationException</exception-type>
		<location>/jsp/error_page.jsp</location>
	</error-page>
</web-app>
